@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');

body{
    margin: 0;
}

.homepage{
    width: 100vw;
    height: 100vh;
    position: relative;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url("../images/homepage/homepage_background.jpg");
}

.homepage-logo{
    display: inline-flex;
    align-items: flex-end;
    color: #FF5C00;
    margin-bottom: 20em;
    background-color: #F2EFE4;
    border-radius: 50%;
    font-family: 'Roboto', sans-serif;
    width: 150px;
    height: 150px;
    position: relative;
    justify-content: center;
    font-weight: bolder;
    background-image: url("../images/web-logo.png");
    background-size: 12em;
    background-position: 50% -260%;
}

.homepage-content{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.homepage-title{
    font-family: 'Open Sans',sans-serif;
    font-size: 64px;
    color: white;
    font-weight: 900;
    text-align: center;
    position: absolute;
}

.bar-container{
    border: 4px solid;
    background-color: white;
    height: 45px;
    width: 400px;
    border-radius: 50px;
    position: absolute;
    padding: 0px 10px;
    margin-top: 10em;
}

.bar-element{
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

.address-input{
    border: none;
    outline: none;
    height: 100%;
    width: 100%;
    float: left;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    border-radius: 50px;
}
  
.locate-button{
    color: black;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #FF5C00;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-right: -10px;
    transition: 0.2s ease;
    text-decoration: none;
}

.locate-button:hover{
    color: white;
    background: #cf4c00;
    cursor: pointer;
}