*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #F2EFE4;
}

.website-header {
    padding: 0px 16px;
    height: 50px;
    display: flex;
    background-color: #F2EFE4;
    align-items: center;
}
.container-2{
    position: relative;
    /*border: 1px solid crimson;*/
}

/* .container{
    padding-left: 20px;
    justify-content: center;
    /*border: 1px solid black;*/
    /*margin-right: 15vw;*/
/* } */
/*     position: absolute; */
/* }  */

/*!*     !*margin-top: 30px;*!*/
/*    padding-bottom: 0;*/
/*    padding-left: 20px;*/
/*    padding-right: 20px;*/

/*    float: left;*/
/*    width: 100%;*/
/*}*/

/* .service{
    display:inline-block;
    margin-left: 18vw; */
/*}*/

.search{
    border: 0.5px solid black;
    border-radius: 15px;
    transition: 0.1s ease;
    background: #fff;
}

.search:focus-within{
    border: 3px solid #FF5C00;
}

#searchbox{
    box-sizing: content-box;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    outline: none;
    width: 8em;
    height: 35px;
}

#searchicon{
    padding-left: 10px;
}

#xicon{
    font-size: 20px;
    margin-right: 4px;
    opacity: 70%;
    visibility: hidden;
    transition: opacity 0.3s;
}

.service{
    margin-left: 41vw;
    position: absolute;
    display: inline-flex;
}

.service img{
    width: 80px;
    height: 60px;
    margin-right: -20px;
}

.service h2{
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    color: #FF5C00;
}

.address{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin-left: auto;
}

.container{
    padding-left: 20px;
    justify-content: center;
    display: flex;
}
